<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barros autopeças</title>
    <link rel="shortcut icon" href="/img/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="NavBar">
        <div class="container-logo">
                <img src="/img/barros_autopeças_logo.jpg" alt="logo">
        </div>
        <ul>
            <li><a href="#">contato</a></li>
            <li><a href="#">suporte</a></li>
            <li><a href="#">sobre</a></li>
        </ul>

    </nav>
        <div class="container-body">
            {{{body}}}
        </div>
    <footer>
        <div class="footer-container">
            <div class="coluna">
                <h4>Redes sociais</h4>
                <ul>
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">whatsapp</a></li>
                </ul>
            </div>
             <div class="coluna">
                <p> &#174 barros autopeças, todos os direitos reservados</p>
            </div>
        </div>
    </footer>
</body>
</html>