<div class="return">
        <a href="/">Voltar</a>
</div>

<div class="ProdPage">

    <div class="coluna">
        <img src=" {{produto.img}} " alt="produto">
    </div>
    <div class="coluna">
        <h1> {{produto.title}} </h1>
        <p>{{produto.description}}</p>

        <div class="precoProd">
            <p class="PrecoAProd">Por apenas: <span>R${{produto.price}} </span></p>
        </div>

        <a href="#" class="btn">Adicionar ao carrinho</a>
    </div>
</div>